.container {
  background-color: white;
  height: 90vh;
  width: 70%;
  position: fixed;

  top: 50%;
  left: 50%;
  border: 1px solid black;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.btn-sample {
  margin: 27px;
display:flex;
flex-direction: row;
  padding: 0.5em;
  /* width: 600px; */
}

@media (max-width: 760px) {
  .user-add {
    display: flex;
    flex-direction: column;
  }
}

.btn__cancel {
  margin: 2%;

padding:'5rem';
background-color:#272165 ;
border:0.1rem blue solid;
}
/* .btn__cancel:hover {
background-color:#272165;

} */


.btn-container {
  /* display: grid;
  grid-template-columns: 40% 30%; */
  /* justify-content: center; */
width: 100%;
justify-content: space-between;
}

.user-content {
  margin-top: 60px;
  /* margin-left: 50px; */
  font-size: 20px;
margin-left:25px;
}
.input-color{
background-color:#f2f0ff
}
