@media screen and (max-width: 1920px) {
  
}

/* .center-screen {
background-color: darkgray;
  display: flex;
  justify-content:end;
 
  min-height: 80vh;
width: 0rem;
} */

/* .middle-button {
  margin: 50px;
}

.first-btn {
  color: red;
  background-color: green;
} */
