 @media (min-width: 1025px) and (max-width: 1280px){
            body {
                background-color: green;
            }
        }

.all-btn{
background-color:gray;
height:30rem;
}
/* .new-user{
margin-right: 500px;
padding:20px;
} */

.btn-container{
width: 200px;
margin: 0 auto;
display: inline;}

.btn{
/* margin-left: 500px;
display: flex;
justify-content:row;
padding:20px; */
width: 100px;
margin: 0 auto;
display: inline;
}
